body {
    background-color: lightblue;
}
#header {
    background-color: white;
}
#main-contents{
    background-color: aliceblue;
}
#sab-contents{
    background-color: aliceblue;
}
#list{
    padding: 1rem 2rem;
    border-left: 4px dotted #000;
}
h4 {
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    background: lightsteelblue;
}
.image-vw {
    width : 90vw ;
}